@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/oswald/Oswald-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/oswald/Oswald-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/oswald/Oswald-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/oswald/Oswald-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/oswald/Oswald-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
